{% extends "app/layout.html" %}

{% block body %}
<div class="container mt-3">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col text-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <h2 class="mb-0">Applications</h2>
                                </div>
                                <div class="row">
                                    {% if request.user.role == "Tech" %}
                                        <div class="col">
                                            <div class="modal fade text-left" id="today">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2>Applications for today</h2>
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            <div class="row">
                                                                <div class="col">
                                                                    Title
                                                                </div>
                                                                <div class="col">
                                                                    Customer
                                                                </div>
                                                                <div class="col">
                                                                    Address
                                                                </div>
                                                            </div>
                                                            {% for today in todays %}
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <a class="application-a" href="" data-toggle="modal" data-target="#applicationModal{{ today.id }}">
                                                                            {{ today.title }}
                                                                        </a>
                                                                    </div>
                                                                    <div class="col">
                                                                        {{ today.customer }}
                                                                    </div>
                                                                    <div class="col">
                                                                        {{ today.address }}
                                                                    </div>
                                                                </div>
                                                            {% empty %}
                                                                No applications fro today
                                                            {% endfor %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-danger" type="submit" data-dismiss="modal" value="Close">
                                                                <i class="fa fa-times" aria-hidden="true"></i> Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="btn btn-primary" href="" data-toggle="modal" data-target="#today" enctype="multipart/form-data">
                                                <i class="fa fa-application" aria-hidden="true"></i> Applications Today
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        <div class="modal fade text-left" id="createapplication">
                                            <form action="{% url 'application_create' %}" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2>Add a application</h2>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="title" class="form-label">Title</label>
                                                                <input class="form-control" type="text" name="title" placeholder="Enter title" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="description" class="form-label">Description</label>
                                                                <input class="form-control" type="text" name="description" placeholder="Enter description" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="address" class="form-label">Address</label>
                                                                <input class="form-control" type="text" name="address" placeholder="Enter address" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="img" class="form-label">Image</label>
                                                                <input class="form-control" type="file" name="img" accept="image/*" placeholder="Enter image">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success" type="submit">
                                                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                                                            </button>
                                                            <button class="btn btn-danger" type="submit" data-dismiss="modal" value="Close">
                                                                <i class="fa fa-times" aria-hidden="true"></i> Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <a class="btn btn-primary" href="" data-toggle="modal" data-target="#createapplication" enctype="multipart/form-data">
                                            <i class="fa fa-application" aria-hidden="true"></i> Create a application
                                        </a>
                                    </div>

                                    <div class="col">
                                        <form action="{% url 'applications_filter' %}" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <select name="status" id="status" class="form-select" aria-label="Default select example">
                                                            <option value="Waiting ...">Waiting ...</option>
                                                            <option value="Expecting a visit!">Expecting a visit!</option>
                                                            <option value="In progress ...">In progress ...</option>
                                                            <option value="Completed">Completed</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% for application in applications %}
                            <div class="row p-2 application-items">
                                <div class="col-sm-3 application">
                                    <div class="row">
                                        <h6 class="mb-0">
                                            <a class="application-a" href="" data-toggle="modal" data-target="#applicationModal{{ application.id }}">
                                                {{ application.title }}
                                            </a>

                                            <div class="modal fade text-left" id="applicationModal{{ application.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2>{{ application.title }}</h2>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <img src="{{ application.image_url }}" alt="Image">
                                                            </div>
                                                            <div class="row">
                                                                <h3>{{ application.description }}</h3>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-danger" type="submit" data-dismiss="modal" value="Close">
                                                                <i class="fa fa-times" aria-hidden="true"></i> Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                    
                                    <div class="row application-buttons">
                                        <div class="col application-edit-btn">
                                            <a class="application-edit-a" href="" data-toggle="modal" data-target="#editapplicationModal{{ application.id }}">
                                                <i class="fa fa-pencil text-info btn" data-toggle="tooltip" data-placement="bottom" title="Edit application"></i>
                                            </a>

                                            <div class="modal fade text-left" id="editapplicationModal{{ application.id }}">
                                                <form action="{% url 'application_edit' id=application.id %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h2>{{ application.title }}</h2>
                                                            </div>
                                                            <div class="modal-body">
                                                                {% if request.user.role == "Administrator" %}
                                                                    <div class="form-group">
                                                                        <label for="technician" class="form-label">Customer:</label>
                                                                        <div>{{ application.customer.username }}</div>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="form-group">
                                                                    <label for="title" class="form-label">Title</label>
                                                                    <input class="form-control" type="text" name="title" placeholder="Enter title" value="{{ application.title }}" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="description" class="form-label">Description</label>
                                                                    <input class="form-control" type="text" name="description" placeholder="Enter description" value="{{ application.description }}"  required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="address" class="form-label">Address</label>
                                                                    <input class="form-control" type="text" name="address" placeholder="Enter address" value="{{ application.address }}" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="img" class="form-label">Image</label>
                                                                    <input class="form-control" type="file" name="img" accept="image/*" placeholder="Enter image" value="{{ application.image }}">
                                                                </div>
                                                                {% if request.user.role == "Tech" or request.user.role == "Administrator" %}
                                                                    <div class="form-group">
                                                                        <label for="status" class="form-label">Status</label>
                                                                        <select name="status" id="status" class="form-select" aria-label="Default select example">
                                                                            <option value="Waiting ...">Waiting ...</option>
                                                                            <option value="Expecting a visit!">Expecting a visit!</option>
                                                                            <option value="In progress ...">In progress ...</option>
                                                                            <option value="Completed">Completed</option>
                                                                        </select>
                                                                    </div>
                                                                {% endif %}
                                                                {% if request.user.role == "Administrator" %}
                                                                    <div class="form-group">
                                                                        <label for="technician" class="form-label">Technician</label>
                                                                        <select name="technician" id="technician" class="form-select" aria-label="Default select example">
                                                                            {% for user in users %}
                                                                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-success" type="submit">
                                                                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                                                                </button>
                                                                <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close">
                                                                    <i class="fa fa-cross" aria-hidden="true"></i> Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        {% if application.status == "Waiting ..." and request.user.role == "Customer" %}
                                            <div class="col application-delete-btn">
                                                <a class="application-delete-a" href="" data-toggle="modal" data-target="#deleteapplicationModal{{ application.id }}">
                                                    <i class="fa fa-trash-o text-danger btn" data-toggle="tooltip" data-placement="bottom" title="Delete application"></i>
                                                </a>
                
                                                <div class="modal fade" id="deleteapplicationModal{{ application.id }}">
                                                    <form action="{% url 'application_delete' id=application.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h2>Delete "{{ application.title }}"?</h2>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-danger" type="submit">
                                                                        Delete
                                                                    </button>
                                                                    <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close">
                                                                        Go back
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        {% elif request.user.role != "Customer" %}
                                            <div class="col application-delete-btn">
                                                <a class="application-delete-a" href="" data-toggle="modal" data-target="#deleteapplicationModal{{ application.id }}">
                                                    <i class="fa fa-trash-o text-danger btn" data-toggle="tooltip" data-placement="bottom" title="Delete application"></i>
                                                </a>
                
                                                <div class="modal fade" id="deleteapplicationModal{{ application.id }}">
                                                    <form action="{% url 'application_delete' id=application.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h2>Delete "{{ application.title }}"?</h2>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-danger" type="submit">
                                                                        Delete
                                                                    </button>
                                                                    <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close">
                                                                        Go back
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-sm-9 text-secondary">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <h6>Title</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ application.title }}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Address</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ application.address }}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Status</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ application.status }}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Date of visit</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{% if application.date_of_visit_by_technician %} {{ application.date_of_visit_by_technician }} {% else %} No date yet ... {% endif %}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Technician</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{% if application.technician %} {{ application.technician.first_name }} {{ application.technician.last_name }} {% else %} No technician yet ... {% endif %}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <h4 class="text-center">No applications yet...</h4>
                        {% endfor %}

                        {% if applications %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if applications.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ applications.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item"><a class="page-link" href="">{{ applications.number }}</a></li>

                                    {% if applications.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ applications.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}